body {
    font-size: 1em;
}

footer {
    background: rgba(0, 0, 0, 0.521);
    padding: 0.5em;
    bottom: 100%;
}

section {
    height: 100%;
    margin-left: 180px; 
}

.siteName, .sidenav {
    /* max-width: 200px;
    min-width: 150px;
    width: 15%; */
    width: 180px;
    background-color: #888686;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.siteName h1 {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.0em;
}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    position: absolute;
    /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; Stay on top */
    top: auto;
    /* Stay at the top */
    left: 0;
    background-color: black;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    
}

/* The navigation menu links */

.sidenav a {
    padding: 0.5em 0 0.5em 0.5em;
    text-decoration: none;
    color: #818181;
    border-left: 3px solid transparent;
    display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
    border-color: #818181;
    text-decoration: none;
}

.sidenav li ul a {
    padding-left: 1em;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 50px;
    }
    .sidenav a {
        font-size: 8px;
    }
}