.card {
    width: 200px;
    margin: 0.5%;
    font-size: 0.8em;
    max-height: 370px;
    height: auto;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-body {
    padding: 3px;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.15);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.card-text {
    padding-top: 0px;
}

.card-text-info {
    float: right;
    width: 50%;
    flex-basis: auto;
    align-content: space-around; 
    padding-top: 0px;
    margin-bottom: 8px;
}

.modal-text {
	width: 100%;
	margin: 0 auto;
}

.modal-text p {
    text-align: justify;
}

.modal-text figure {
	width: 30%;
}

.modal-text figure img {
	max-width: 100%;
}

.modal-text figure.left {
	float: left;
	margin: 0 1% 0 0;
}

.modal-text figure.right {
	float: right;
	margin: 0 0 0 1%;
}

.card-footer {
    padding: 4px;
    font-size: 0.90em;
}