<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DataBase.accdb;Persist Security Info=True;Jet OLEDB:Database Password=root"
      providerName="System.Data.OleDb" />
  </connectionStrings>

  <system.web>

    <!-- Autenticacao -->
    <authentication mode="Forms">
      <forms loginUrl="Login/Login.aspx" timeout="60"></forms>
    </authentication>

    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <!-- Pasta protegida -->
  <location path="Protegida">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>