#formPatients {
  display: block;
}

.patients {
  display: none;
  width: 100%;
  height: 100%;

  background: rgba(255,255,255, 0.8);

  display: grid;
  grid-template-rows: 10vh 77vh;
  grid-template-areas: 'h'
                       'm';
}

.patientsHeader {
  grid-area: h;

  color: black;
  background: rgba(0,0,0, 0.5);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patientsBoxSearch {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.patientsBoxSearch input {
  width: 70%;
  border-radius: 15px;
  font-size: 30px;
  border:0;
  padding-left: 20px;
}

.patientsBoxButtons {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

}

.patientsButtons {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.patientsMain{
  grid-area: m;

  width: 100%;
  height: 100%;
  
  overflow: auto;
}

.patientsMainOut {
  width: 50%;
  height: 200px;
  float: left;
  margin: 30px auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsMainBox {
  width: 80%;
  height: 150px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;

  background: rgba(0,0,0,0.2);
  box-shadow: 10px 5px 20px 2px rgba(0,0,0,0.15);

  display: flex;
  justify-content: center;
}

.patientsMainBox:hover {
  background: rgba(0,0,0,0.1);
  box-shadow: 10px 5px 20px 2px rgba(0,0,0,0);
}

.patientsMainBoxPhoto {
  width: 45%;
  border-radius: 15px 0px 0px 15px;
  border-right: 2px solid black;
}

.patientsMainBoxItens {
  width: 55%;
}

.patientsMainBoxItensName {
  width: 100%;
  height: 35%;

  display: flex;
  align-items: center;
  padding-left: 10px; 
}

.patientsMainBoxItensName h2 {
  color: black;
}

.patientsMainBoxItensDescription {
  width: 100%;
  height: 65%;
  padding: 10px;
}

.patientsMainBoxItensDescription h4 {
  color: black;
}

.patientsMainBoxGravitygreen {
  width: 10%;
      border-radius: 0px 12px 12px 0px;
  border-left: 2px solid black;

  background: green;
}

.patientsMainBoxGravityyellow {
  width: 10%;
      border-radius: 0px 12px 12px 0px;
  border-left: 2px solid black;

  background: yellow;
}

.patientsMainBoxGravityred {
  width: 10%;
      border-radius: 0px 12px 12px 0px;
  border-left: 2px solid black;

  background: red;
}



/* Patien View */

#formPatient{
  display: none;
}

.patientsView {
  
  width: 100%;
  height: 100%;

  background: rgba(255,255,255, 0.8);

  display: grid;
  grid-template-rows: 15vh 15vh 15vh 27vh 15vh;
  grid-template-areas: 'a'
                       'b'
                       'c'
                       'd'
                       'e'; 
}

.patientsView input {
  width: 70%;
  font-size: 30px;
}

.patientsViewA {
  grid-area: a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewAName {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewAAge {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewB {
  grid-area: b;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewBCpf {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewBRg {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewC {
  grid-area: c;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewCEmail {
  width: 60%;
  height: 100%;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewCGravity {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewCGravityButton {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 16px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.patientsViewD {
  grid-area: d;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewDDescription {
  width: 70%;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewDDescription textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 26px;
}

.patientsViewE {
  grid-area: e;

  display: flex;
  align-items: center;
  justify-content: center
}

.patientsViewEOption {
  width: 33.3%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center
}


.patientsViewEButtonA {
  background: blue;
  width: 50%;
  padding: 16px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center
}

.patientsViewEButtonB {
  background: red;
  width: 50%;
  padding: 16px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center
}

.patientsViewEButtonC {
  background: green;
  width: 50%;
  padding: 16px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center
}


