#formPatients {
  display: block;
}

.patients {
  display: none;
  width: 100%;
  height: 100%;

  background: rgba(255,255,255, 0.8);

  display: grid;
  grid-template-rows: 10vh 77vh;
  grid-template-areas: 'h'
                       'm';
}

.patientsHeader {
  grid-area: h;

  color: black;
  background: rgba(0,0,0, 0.5);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patientsBoxSearch {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.patientsBoxSearch input {
  width: 70%;
  border-radius: 15px;
  font-size: 30px;
  border:0;
  padding-left: 20px;
}

.patientsBoxButtons {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

}

.patientsButtons {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.patientsMain{
  grid-area: m;

  width: 100%;
  height: 100%;
  
  overflow: auto;
}

.patientsMainOut {
  width: 50%;
  height: 200px;
  float: left;
  margin: 30px auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsMainBox {
  width: 80%;
  height: 150px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.5s;

  /* background: rgba(0,0,0,0.1); */
  box-shadow: 10px 5px 20px 2px rgba(0,0,0,0.15);

  display: flex;
  justify-content: center;
}

.patientsMainBox:hover {
  background: rgba(0,0,0,0.05);
  box-shadow: 10px 5px 20px 2px rgba(0,0,0,0);
}

.patientsMainBoxPhoto {
  width: 45%;
  border-radius: 15px 0px 0px 15px;
  border-right: 2px solid black;
}

.patientsMainBoxItens {
  width: 55%;
}

.patientsMainBoxItensName {
  width: 100%;
  height: 35%;

  display: flex;
  align-items: center;
  padding-left: 10px; 
}

.patientsMainBoxItensName h2 {
  color: black;
}

.patientsMainBoxItensDescription {
  width: 100%;
  height: 65%;
  padding: 10px;
}

.patientsMainBoxItensDescription h4 {
  color: black;
}

.patientsMainBoxGravitygreen {
  width: 10%;
      border-radius: 0px 12px 12px 0px;
  border-left: 2px solid black;

  background: green;
}

.patientsMainBoxGravityyellow {
  width: 10%;
      border-radius: 0px 12px 12px 0px;
  border-left: 2px solid black;

  background: yellow;
}

.patientsMainBoxGravityred {
  width: 10%;
      border-radius: 0px 12px 12px 0px;
  border-left: 2px solid black;

  background: red;
}



/* Patien View */

#formPatient{
  display: none;
}

.patientsView {
  
  width: 100%;
  height: 100%;

  background: rgba(255,255,255, 0.8);

  display: grid;
  grid-template-rows: 15vh 15vh 15vh 27vh 15vh;
  grid-template-areas: 'a'
                       'b'
                       'c'
                       'd'
                       'e'; 
}

.patientsView input {
  width: 70%;
  font-size: 30px;
}

.patientsViewA {
  grid-area: a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewAName {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewAAge {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewB {
  grid-area: b;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewBCpf {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewBRg {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewC {
  grid-area: c;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewCEmail {
  width: 60%;
  height: 100%;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewCGravity {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewCGravityButton {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 16px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.patientsViewD {
  grid-area: d;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewDDescription {
  width: 70%;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patientsViewDDescription textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 26px;
}

.patientsViewE {
  grid-area: e;

  display: flex;
  align-items: center;
  justify-content: center
}

.patientsViewEOption {
  width: 33.3%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center
}


.patientsViewEButtonA {
  background: blue;
  width: 50%;
  padding: 16px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center
}

.patientsViewEButtonB {
  background: red;
  width: 50%;
  padding: 16px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center
}

.patientsViewEButtonC {
  background: green;
  width: 50%;
  padding: 16px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center
}

/* Confirmar exclusao */

#outDelet {
  width: 83.3%;
  height: 87vh;
  background: rgba(0,0,0, 0.9);
  position: absolute;

  display: none;
  align-items: center;
  justify-content: center;
}

.boxDelet {
  width: 100%;
  height: 250px;
  max-width: 350px;
  border-radius: 10px;
  background: rgba(255,255,255, 0.9);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.boxDeletMessage {
  width: 100%;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.boxDeletMessage h2 {
  font-size: 16pt;
  color: black;
  text-align: center;
}

.boxDeletButtons {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btnDeletCancel {
  width: 100px;
  padding: 15px;
  background: blue;
  border-radius: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDeletConfirm {
  width: 100px;
  padding: 15px;
  background: green;
  border-radius: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* ANIMATIONS */


/* PATIENTES VIEW  */

.patientsHeader {
  animation: patientsHeader 1s;
}

@keyframes patientsHeader {
  from{
    opacity: 0;
  }to {
    opacity: 1;
  }
}

#search {
  animation: search 1s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes search {
  from{
    opacity: 0;
    transform: scale(0.8);
  }to {
    opacity: 1;
    transform: scale(1);
  }
}

.patientsButtons {
  animation: patientsButtons 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes patientsButtons {
  from{
    opacity: 0;
    transform: translateX(-30px);
  }to {
    opacity: 1;
    transform: translateX(0);
  }
}

.patientsMainBox {
  animation: patientsMainBox 1s;
  animation-fill-mode: backwards;
}

@keyframes patientsMainBox {
  from{
    opacity: 0;
    transform: translateX(-55px);
  }to {
    opacity: 1;
    transform: translateX(0);
  }
}

.patientsMainBoxItensName {
  animation: patientsMainBoxItensName 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes patientsMainBoxItensName {
  from{
    opacity: 0;
    transform: translateX(-15px);
  }to {
    opacity: 1;
    transform: translateX(0);
  }
}

.patientsMainBoxItensDescription {
  animation: patientsMainBoxItensDescription 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}

@keyframes patientsMainBoxItensDescription {
  from{
    opacity: 0;
    transform: translateX(-15px);
  }to {
    opacity: 1;
    transform: translateX(0);
  }
}

.boxDelet {
  animation: boxDelet 0.3s;
  animation-fill-mode: backwards;
}

@keyframes boxDelet {
  from{
    opacity: 0;
    transform: scale(0.85);
  }to {
    opacity: 1;
    transform: scale(1);
  }
}

.boxDeletMessage {
  animation: boxDeletMessage 0.2s;
  animation-delay: 0.31s;
  animation-fill-mode: backwards;
}

@keyframes boxDeletMessage {
  from{
    opacity: 0;
    transform: scale(0.95);
  }to {
    opacity: 1;
    transform: scale(1);
  }
}

.btnDeletCancel {
  animation: btnDeletCancel 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

.btnDeletConfirm {
  animation: btnDeletCancel 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes btnDeletCancel {
  from{
    opacity: 0;
    transform: scale(0.95);
  }to {
    opacity: 1;
    transform: scale(1);
  }
}